<div>
  <% Photo.all.each do |photo| %>
  <div class="header">
    <% if photo.top_photo? %>
      <img src="https://aspirusseniorhealth.files.wordpress.com/2013/04/gold-star-seo1.jpg" width="50px" class="float width">
    <% end %>
    <div class="float__header">
      <h2><%= photo.title %></h2>
    </div>
    <div style="clear: both">
    </div>
  </div>

  <img src="http://www.wallpapers76.com/photo/7551/Cute-Cats-063.jpg" width="500px">
  <h3>Location: <%= photo.location %></h3>
  <h3>Photographer: <%= photo.location %></h3>
  <% end %>
</div>

<div>
  <img src="https://aspirusseniorhealth.files.wordpress.com/2013/04/gold-star-seo1.jpg" width="25px" class="float width">
  <p>
    = top photos
  </p>
</div>

<div>
  <a href="/home">Home</a>
</div>
