<div>
  <div class="header">
    <% if @photo.top_photo? %>
      <img src="https://aspirusseniorhealth.files.wordpress.com/2013/04/gold-star-seo1.jpg" width="50px" class="float width">
    <% end %>
    <div class="float__header">
      <h2><%= @photo.title %></h2>
    </div>
    <div style="clear: both">

    </div>
  </div>
  <img src="http://i.telegraph.co.uk/multimedia/archive/02790/squirrel_2790142b.jpg" width="500px">
  <h3>Location: <%= @photo.location %></h3>
  <% @photographer = Photographer.find(@photo.photographer_id) %>
  <h3>Photographer: <%= @photographer.name %></h3>
</div>

<div>
  <a href="/home">Home</a>
</div>
