<div>
  <% Album.all.each do |album| %>
    <a href="album/<%= album.id %>"><%= album.title %></a><br>
  <% end %>
</div>

<div>
  <br>
  <button><a href="/add_photo">Add a Photo</a></button>
  <button><a href="/create_album">Create an Album</a></button>
  <button><a href="/photographers">View Photographer Information</a></button><br>
</div>
