<div>
  <h2><%= @album.title %></h2>
</div>

<div>
  <% @album.photos.each do |photo| %>
  <div class="header">
    <% if photo.top_photo? %>
      <img src="https://aspirusseniorhealth.files.wordpress.com/2013/04/gold-star-seo1.jpg" width="50px" class="float width">
    <% end %>
    <div class="float__header">
      <h3><a href="/album/photo/<%= photo.id %>"><%= photo.title %></a></h3>
    </div>
    <div style="clear: both">

    </div>
  </div>
    <img src="https://www.tacomaworld.com/attachments/forms_photo-jpg.270566/" width="500px"><br>
  <% end %>
</div>

<div>
  <img src="https://aspirusseniorhealth.files.wordpress.com/2013/04/gold-star-seo1.jpg" width="25px" class="float width">
  <p>
    = top photos
  </p>
</div>

<div>
  <a href="/add_photos_to_album">Add photos to this album</a>
</div>

<div>
  <a href="/home">Home</a>
</div>
